h3 {
  margin-top: 150px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
  padding: 10px;
}

.background {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0% 0%;
  text-align: center;
  background-position-x: center;
  width: 100%;
  height: 100%;
}
