
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300&display=swap");
.background{

    background-image: url(../Home/background.png);

}
.containerCard {
  margin: auto;
  /* margin-top: 30px; */
  width: 1400px;
  padding: 30px;
  height: auto;
  background-color: #6363638e;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin-bottom: 35px; */
  gap: 40px;
}

.img {
  /* height: 200px; */
  margin-top: 35px;
  width: 130px;

  /* object-fit: cover; */
}



.paginado {
  display: flex;
  justify-content: center;
}

.products {
  height: 36rem;
  /* margin-top: -190px; */
  background-color: white;
  border-radius: 10px;
  /* padding: 50px 10px; */

  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
}

.products:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 7px 2px rgb(33, 34, 33);
  transition: 1000ms;
}

.productInfo {
  font-family: Montserrat;
  font-weight: 540;
  text-align: center;
  /* line-height: 1.5; */
  font-size: 28px;
  font-family: "Anton&family";
  /* padding: 10px; */
}

.divStyle {
  border: 3px solid black;
  margin-top: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  background-color: cornsilk;
}

.productPrice {
  font-weight: 800;
  font-family: "Anton&family";
  text-align: center;
  line-height: 1.42857143;
  background-color: transparent;
  font-size: 32px;
  width: 100%;
  /* margin-bottom: 1px; */
}

.productQuality {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  padding: 20px;
}

select::-ms-expand {
  display: none;
}

.button {
  display: inline-block;
  margin-top: -200px;
  /* padding: 10px 0; */
  background-color: #0b0c0c;
  text-align: center;
  color: white;
  width: 240px;
  height: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}
.quantityChange{
  color: rgba(14, 4, 4, 0.534);
}
.button:hover {
  background-color: rgba(113, 116, 116, 0.603);
  color: rgba(14, 4, 4, 0.534);
  transition: 500ms;
}

.carrito {
  margin-top: -15px;
  margin: 4px;
  color: azure;
  background-color: #0b0c0c;
  border-radius: 15%;
}

.selectFilterSort {
  margin-top: 15px;
  justify-content: space-around;
}

.select {
  width: 7%;
margin-right: 2%;
background-color: rgba(32, 30, 29, 0.747);
color: white;
border-radius: 14%;
margin-left: 1%;
}
.pag {
  display: flex;
  justify-content: center;
}
.selectors {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  margin-right: 3%;
}





