.containerCard {
  margin: auto;
  margin-top: 50px;
  width: 1200px;
  padding: 30px;

  background-color: #6363638e;
  border-radius: 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 35px;
  gap: 40px;
}

.img {
  height: 400px;

  width: 350px;

  object-fit: cover;
}

.products {
  height: auto;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  padding: 30px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
}

.productInfo {
  text-align: center;
  line-height: 1;
  font-size: 30px;
  padding: 10px;
}

.productPrice {
  text-align: center;
  line-height: 1;
  font-size: 25px;
}

.productQuality {
  text-align: center;
  line-height: 1;
  font-size: 30px;
  padding: 20px;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reseteo */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  margin: 10px 5px;
  height: 30px;

  background-color: #026773;
  color: white;
  border-radius: 10px;
  border: none;

  font-weight: 700;
  font-size: 14px;

  cursor: pointer;
}

.btn:hover {
  background-color: #3ca6a6;
  color: white;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #026773;
  text-align: center;
  color: white;
  width: 240px;
  height: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}
