@import url("https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300&display=swap");

.background {
  background-image: url(../Home/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0% 0%;
  text-align: center;

  background-position-x: center;
  width: 100%;
  height: 140%;
}

.button {
  display: flex;
  position: relative;
  top: 260px;
  right: 500px;
  bottom: 0;
  left: -490px;
}

.button:hover {
  background-color: aqua;
  transition: 500ms;
}
.name {
  overflow: auto;
  margin-top: 15px;
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(48, 48, 110);
  overflow: hidden;
  font-family: "Anton&family";
  text-align: start;
  width: 650px;
}
.price {
  text-transform: uppercase;
  font-family: "Anton&family";
  margin-left: -300px;

  margin-top: 35px;
  left: 2%;
}
.quality {
  position: relative;
  text-transform: uppercase;
  font-family: "Anton&family";
  margin-right: 40px;
  margin-top: 35px;
  text-align: left;
  top: 23px;
  right: 226px;
}
.img {
  margin-top: 10px;
  padding: 4.5px;
  border-radius: 25px;
  border: 5px;
  height: 340px;
  position: absolute;
  right: 40%;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.inicio {
  text-transform: uppercase;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.889);
  height: 400px;
  padding: 20px;
  border-radius: 25px;
  border: 5px solid rgba(157, 154, 154, 0);
  margin-top: 6%;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-family: "Anton&fanily";
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.score {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 70px;
  margin-top: 2px;

  font-family: "Anton&family";
  /*  text-align: left; */
}
.inisec {
  font-family: "Anton&family";
  display: flex;
  position: absolute;
  top: 290px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.seMore {
  position: absolute;
  bottom: 100px;
  right: 43%;
}

.columna {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 75%;
}

.quantity {
  font-family: "Anton&family";
  text-transform: uppercase;
  display: flex;
  position: absolute;
  top: 70px;
  right: 200px;
  left: -230px;
  bottom: 0px;
}

.carrBtns {
  position: relative;
  top: 140px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.btncarrito {
  font-family: "Anton&family";
  left: 10px;
  display: flex;
  position: relative;
  bottom: 110px;
}
/* .quantity {
  top: 0%;
  left: -235px;
} */
.btnSubstract {
  margin-left: 2px;
  bottom: 30px;
  top: 6rem;
  right: 500px;
}
.btnAdd {
  margin-left: 2px;
  bottom: 30px;
  top: 6rem;
  right: 500px;
}

.scoreSubmit {
  display: flex;
  position: absolute;

  top: 80px;
  right: 20px;
}

.interested {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carrusel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
}

.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  outline: 2px solid black;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item:hover {
  transform: scale(1.2);
}
