.errors {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
