@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Noto+Sans:wght@200&display=swap');

.single {
    display: flex;
    width: 100%;




    .editButton {

        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        cursor: pointer;
        font-size: 35px;
    }

    .backButton {
        display: flex;
    
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        cursor: pointer;
        font-size: 13px;
    }
    
  .edit{
    display: flex;
  justify-content: space-between;

  }


    .singleContainer {
        flex: 6;
        padding-left: 13.8%;
        padding-top: -0%;


        .top {
            padding: 20px;
            display: flex;
            gap: 30px;


            .left {
                flex: 3;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                position: relative;
                margin-left: 23%;


                .item {
                    display: flex;
                    gap: 20px;


                    .itemImg {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        .itemTitle {
                            margin-bottom: 10px;
                            color: #555;

                        }

                        font-family: 'Quicksand',
                        sans-serif;


                        .detailItem {
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey {
                                font-weight: bold;
                                color: rgb(22, 22, 22);
                                margin-right: 10px;

                            }

                            .itemValue {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .right {
                flex: 2;
            }

        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 10px 20px;

        }

        .title {
            font-size: 16px;
            color: lightgray;
            margin-bottom: 20px;
            margin: 20px;

        }

        
    }


}