@import url("https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300&display=swap");


.background{
    background-image: url("faqBackg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: 0% 0%;
    text-align: center;
    background-position-x: center;
    width: 100%;
    height: 83vh;
}


.cuestions{
    margin-top: 20px;
    font-size:30px;
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.title {
    font-size: 50px;
    font-family: "Anton", sans-serif;
    color: rgba(240, 248, 255, 0.781);
    text-align: center;
  }