@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Noto+Sans:wght@200&display=swap");
.box {
  background: url("background.jpg");
  min-height: 90vh;
  width: 100%;
}
.nothingInThecart {
  background: url("background.jpg");
  width: 100%;
  height: 95vh;
}

.tabla {
  width: 100%;
}
.tamanoimg {
  max-width: 150px;
  max-height: 100px;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 25%;
}
.text {
  text-transform: uppercase;

  width: 150px;
  margin-right: 40px;
}
.title {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1%;
}
.elementosTabla {
  background-color: grey;
}
.tbodyStilos {
  background-color: rgb(229, 221, 221);
  bottom: 45%;
}
.Total {
  text-transform: uppercase;
  font-size: 20px;

  margin-top: 5px;
  /* margin-right: -79%; */
}

.topeo {
  margin-left: 100px;
}
.bottonInicio {
  text-decoration: none;
  color: white;
}

.add {
  position: relative;
  left: 200px;
  bottom: 175px;
  margin-top: 2.5px;
}
.sub {
  position: relative;
  left: 200px;
  bottom: 175px;
}
.del {
  position: relative;
  left: 200px;
  bottom: 172px;
}
.hola {
  margin-top: -8rem;
  padding-bottom: 3.5rem;
}

.containerItem {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.adressed {
  display: inline-block;
  border-radius: 4px;
  background-color: #111115ed;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-size: 1rem;
}
