.pepe {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );
  height: 6rem;
  /* align-items: flex-end; */
}

.containersession {
  display: flex;
  align-items: center;
}

.imgProfile {
  width: 50px;
  height: 50px;
  display: inline;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.linkssesion {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  left: 235px;
}

.linkssesion:hover {
  color: white;
}

.navbarbuttons {
  margin-right: 70%;
  margin: 20%;
}
.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0;
  background-color: white;
  text-align: center;
  color: white;
  width: 240px;
  height: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.locu {
  justify-content: space-between;
}

.removebg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.move {
  position: absolute;
  left: 1;
}

.username {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
  position: absolute;
  left: 150px;
}

.button:hover {
  background-color: white;
  transition: 500ms;
}

.logout {
  color: white;
}

.buttonPencil {
  display: contents;
  margin-top: 1px;
  padding: 2px 0;
  /* background-color: gray; */
  text-align: center;
  color: white;
  width: 30px;
  height: -9px;
  font-size: 1px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  text-decoration: none;
}

.move {
  left: 100px;
}

.buttonPencil:hover {
  /* background-color: grey; */
  transition: 500ms;
  color: grey;
}
